.register h2 {
    margin-bottom: 10px;
}

.register p {
    margin-top: 10px;
}

.register form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.register form .form-control {
    flex: 0 0 49%;
}
